body{
    width: 100%;
}

/* header */
nav{
    color: white;
}

nav a, nav a:hover{
    color: white;
    text-decoration: none;
}

#nav-urls{
    padding-top: 2vh;
}

.box{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-right: 5vw;
    margin-top: 10vh;
    border: 1px solid black;
    width: 30vw;
    height: 42vh;
}

/* index */
.index-body{
    width: 100vw;
    height: 91.5vh;
    background: url('../img/index-background.jpg') !important;
    background-size: cover !important;
    background-repeat: none;
}