body{
    font-family: Raleway, Arial, sans-serif !important;
    font-weight: 700 !important;
    font-size: 11pt !important;
}

.navbar{
    height: 8vh !important;
    color: white;
}

.navbar li{
    margin-right: 5vw;
    list-style-type: none !important;
}

.index-background{
    height: 92vh;
    background: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


/* login */
.panel{
    padding:1vw;
    border-radius: 10px;
    margin-top: 5vh;
border: 1px solid black;
	background-color:white;


}

.index-background2{
    height: 92vh;
    background: url('../img/bgd_chair.jpg');
    background-size: cover;
}

.panel-central{
margin-left: 15%;
}
.panel h3{
    margin-left: 2vh;
}

/* welcome page */
.welcome-content{
    width: 50vw;
    height: 80vh;
    margin-left: 5vw;
    margin-top: 5vh;
    border: 1px solid black;
    padding: 1.5vw;
}

