body{
}

.navbar{
    height: 8vh !important;
    color: white;
}

.navbar a, .navbar a:hover{
    color: white;
    /* text-decoration: none */
}

.index-background{
    height: 92vh;
    background: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}